button,
div,
form,
input {
  margin: 10px;
}

body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
}

h1 { 
    font-size: 80px;
    font-family: 'Sacramento', cursive;
    margin-top:100px;
    color: #fff44f;
}


