button,
div,
form,
input {
  margin: 10px;
}

body {
    background: url("../images/kiwi.jpeg") ;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  background-size: 100%;
}

h1 { 
    font-size: 80px;
    font-family: 'Sacramento', cursive;
    margin-top:100px;
    color: #fff44f;
}


